/* CSS */
.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2580e7;
    padding: 10px;
    margin-bottom: 1.5%;
    border-bottom: 1px solid rgb(139, 139, 139);
  }
  
.logoImg {
    width: 80px;
    height: auto;
  }

.profileImg {
   
  }

  .searchContainer {
    display: flex;
    align-items: center;
  }
  
  .searchInput {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
    
  }
  
  .searchButton {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 3% ;
    
  }
  