.sidebar {
  background-color: hsl(216, 89%, 44%);
  width: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logoImg {
  width: 80px;
  height: auto;
  margin-bottom: 20px; /* Add margin to create space below the logo */
}

.navigation {
  list-style-type: none;
  padding: 0;
  margin-top: 40px; /* Adjust the margin to create space from the top */
}

.navigationLi {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.navIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.navigationSpan {
  font-size: 14px;
}